.image-container {
  width: 95%;
  max-height: 400px;
  position: relative;
}

.uploaded-image {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.delete-icon-container {
  width: 20px;
  height: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 700px) {
  .image-container {
    width: 45%;
  }
}
