hr {
  border: none;
}

.description {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
}

.text-input {
  width: 80%;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid #efefef;
  outline: none;
}

.submit-btn {
  background-color: #2ca400;
  border: none;
  cursor: pointer;
  flex: 0 0 auto;
  height: 30px;
  outline: 0px;
  padding: 0px 14px;
  border-radius: 8px;
  color: white;
  margin: 0 20px;
}

@media screen and (min-width: 700px) {
  .description {
    width: 50%;
  }

  .submit-btn {
    position: absolute;
    top: 20px;
    right: 0;
  }
}
