.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.big-title-input {
  width: 80%;
  border: none;
  border-bottom: 1px solid #efefef;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  margin: 5px auto;
}

.title-btn {
  justify-content: flex-start;
  right: 100%;
  background-color: #2ca400;
  border: none;
  cursor: pointer;
  flex: 0 0 auto;
  height: 30px;
  outline: 0px;
  padding: 0px 14px;
  border-radius: 8px;
  color: white;
  margin: 0 20px;
}

@media screen and (min-width: 700px) {
  .big-title-input {
    width: 70%;
  }
}

@media screen and (min-width: 900px) {
  .big-title-input {
    width: 50%;
  }
}
